In [109]:
from bs4 import BeautifulSoup
import pandas as pd

In [111]:
with open("htmls_quotes/page1.html", encoding="utf-8") as f:
    data = f.read()

In [113]:
soup = BeautifulSoup(data ,"html.parser")

In [132]:
quote_blocks =soup.find_all("div",class_ ="quote")
data= []
for quote in quote_blocks:
    author = quote.find("small",class_="author").text.strip()
    tag_elements = quote.find_all("a", class_="tag")
    quotes_1 = quote.find_all("span",class_="text")
    tags = [tag.text.strip() for tag in tag_elements]
    data.append({"Author": author,"Tags": ",".join(tags),"Quotes":quotes_1})

In [134]:
df= pd.DataFrame(data)

In [136]:
df

,Author,Tags,Quotes
0,Albert Einstein,"change,deep-thoughts,thinking,world",[[“The world as we have created it is a proces...
1,J.K. Rowling,"abilities,choices","[[“It is our choices, Harry, that show what we..."
2,Albert Einstein,"inspirational,life,live,miracle,miracles",[[“There are only two ways to live your life. ...
3,Jane Austen,"aliteracy,books,classic,humor","[[“The person, be it gentleman or lady, who ha..."
4,Marilyn Monroe,"be-yourself,inspirational","[[“Imperfection is beauty, madness is genius a..."
5,Albert Einstein,"adulthood,success,value",[[“Try not to become a man of success. Rather ...
6,André Gide,"life,love",[[“It is better to be hated for what you are t...
7,Thomas A. Edison,"edison,failure,inspirational,paraphrased","[[“I have not failed. I've just found 10,000 w..."
8,Eleanor Roosevelt,misattributed-eleanor-roosevelt,[[“A woman is like a tea bag; you never know h...
9,Steve Martin,"humor,obvious,simile","[[“A day without sunshine is like, you know, n..."

In [138]:
df.to_csv("quotes_tags.csv", index=False, encoding="utf-8")
print("Data saved to quotes_tags.csv")

Data saved to quotes_tags.csv