In [55]:
import pandas as pd #import pandas

In [57]:
r = pd.Series([99,77,88,411,56,94]) # create series

In [59]:
type(r)

pandas.core.series.Series

In [61]:
r

0     99
1     77
2     88
3    411
4     56
5     94
dtype: int64

In [63]:
s2 = pd.Series([99,33,44,55,77], index= ["deepika","mk","www","qqq","TT"])

In [65]:
s2

deepika    99
mk         33
www        44
qqq        55
TT         77
dtype: int64

In [67]:
s2["deepika"] #find the element

99

In [69]:
s = pd.Series([1,2,3,4])

In [71]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [73]:
# create dataframe
data = {
       "name" : ["deepika" , "priyansh"] ,
        "age" : [20 , 22],
        "city" : ["Saharnpur" ,"gourakhpur"]
}

In [75]:
df = pd.DataFrame(data)

In [77]:
df

       name  age        city
0   deepika   20   Saharnpur
1  priyansh   22  gourakhpur

In [79]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [81]:
df.columns

Index(['name', 'age', 'city'], dtype='object')